{% from "macros.html" import nav_bar with context %}
{% extends "layout.html" %}


{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
{% endblock %}

{% block content %}
{{ nav_bar() }}
<div class="container">
	<div class="row">
		<a href="{{ url_for('user.signup') }}">Sign Up</a>
		<h2>Admin Dashboard</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<th>User ID</th>
					<th>name</th>
					<th>email</th>
					<th>聯絡人</th>
					<th>問卷完成</th>
				</thead>
				<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.name }}</td>
						<td>{{ user.email }}</td>
						<td><a href="/contact/add/{{user.id}}">連絡人管理</a></td>
						<td>{{ user.done_questionnaire }}/{{ user.total_questionnaire }}</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
