{% from "macros.html" import nav_bar with context %}
{% extends "layout.html" %}


{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
{% endblock %}

{% block content %}
{{ nav_bar() }}
<div class="container">
	<div class="row">
		<h2>Daily Check</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<th>ID</th>
					<th>name</th>
					<th>device ID</th>
					<th>days</th>
					<th>send esm</th>
					<th>esm done</th>
					<th>notification</th>
					<th>phone data count</th>
					<th>VALID</th>
					<th>warning</th>
				</thead>
				<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.user_id }}</td>
						<td>{{ user.name }}</td>
						<td>{{ user.device_id }}</td>
						<td>{{ user.day }}</td>
						<td>{{ user.send_esm_count }}</td>
						<td>{{ user.esm_done_count }}</td>
						<td>{{ user.im_notification_count }}</td>
						<td>{{ user.phone_data_count }}</td>
						<td>{{ user.all_valid }}</td>
						<td>{{ user.warning }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<form action="{{ url_for('admin.daily_check_post') }}" method="POST">
			<div class="form-group">
				<input type="hidden" name="check" value='{{ users|tojson|safe }}'>
				<button type="submit" class="btn btn-primary" {{ 'disabled' if is_today_checked }}>Chectout</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

