{% from "macros.html" import nav_bar with context %}
{% extends "layout.html" %}


{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
{{ nav_bar() }}
<div class="container">
	<div class="row">
		<h2>{{username}}</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<th>name</th>
					<th>date</th>
					<th>send esm count</th>
					<th>esm done count</th>
					<th>im noti count</th>
					<th>all valid</th>
					<th>fail items</th>
				</thead>
				<tbody>
				{% for check in checks %}
					<tr>
						<td>{{ check.user_id }}</td>
						<td>{{ check.date }}</td>
						<td>{{ check.send_esm_count }}</td>
						<td>{{ check.esm_done_count }}</td>
						<td>{{ check.im_notification_count }}</td>
						<td>{{ check.all_valid }}</td>
						<td>{{ check.fail_list }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="row">
		esm done avg: {{mean}}
	</div>
</div>
{% endblock %}

