{% from "macros.html" import nav_bar with context %}
{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
{% endblock %}

{% block title %}
ESM List
{% endblock %}

{% block content %}
{{ nav_bar() }}

<div class="container">
	<div class="row">
		<h2>List of Users</h2>
		<div class="table-responsive" id="users">
			<input class="search" placeholder="Search Name" />
			<button class="sort" data-sort="name">Sort by name</button>
			<button class="sort" data-sort="id">Sort by id</button>
			
			<table class="table table-striped">
				<thead>
					<th>ID</th>
					<th>User</th>
					<th>ESM</th>
					<th>Device ID</th>
				</thead>
				<tbody class="list">
					{% for user in users %}
					<tr>
						<td class="id">{{ user.id }}</td>
						<td class="name">{{ user.username }}</td>
						<td>
							<button class="btn btn-primary">Search</button>
						</td>
						<td></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	var options = {
		valueNames: [ 'name', 'id' ]
	};

	var esmList = new List('users', options);
</script>
{% endblock %}