{% from "macros.html" import nav_bar with context %}
{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
{% endblock %}

{% block title %}
ESM List
{% endblock %}

{% block content %}
{{ nav_bar() }}

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h2>List of Users</h2>
			<div class="table-responsive" id="users">
				<input class="search" placeholder="Search Name" />
				<button class="sort" data-sort="name">Sort by name</button>
				<button class="sort" data-sort="id">Sort by id</button>
				
				<table class="table table-striped">
					<thead>
						<th>ID</th>
						<th>User</th>
						<th>ESM</th>
					</thead>
					<tbody class="list">
						{% for user in users %}
						<tr>
							<td class="id">{{ user.id }}</td>
							<td class="name">{{ user.username }}</td>
							<td>
								<button class="btn btn-primary" id="{{user.id}}" onclick="getESM(this.id)">Search</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-lg-6"></div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	var options = {
		valueNames: [ 'name', 'id' ]
	};

	var esmList = new List('users', options);
	
	function getESM(userID){
		$.get("esm/get/deviceID?uid=" + userID, function(didList, status){
			// for (var key in didList){
			// 	$.get("esm/get/esm?did" + didList[key], function(esms, status){
						
			// 	});
			// }
		});
	}
</script>
{% endblock %}