{% from "macros.html" import nav_bar with context %}
{% extends "layout.html" %}


{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
{% endblock %}

{% block content %}
{{ nav_bar() }}

<div class="container">
	<div class="row">
		<div class="col-lg-6 form-group">
			<div class="panel panel-default" style="margin-top: 20px">
				<div class="panel-body">
					<h2 style="text-align: center;">List of users</h2>
					<div class="table-responsive" id="users">
						<div class="col-xs-4" style="margin-left: 170px">
							<input class="search form-control" placeholder="Search Name" />
						</div>
						<table class="table table-striped">
							<thead>
								<th>ID</th>
								<th>User</th>
								<th>ESM</th>
							</thead>
							<tbody class="list">
								{% for user in users %}
								<tr>
									<td class="id">{{ user.id }}</td>
									<td class="name">{{ user.username }}</td>
									<td>
										<button class="search-esm-btn btn btn-primary" id="{{user.id}}">Search</button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default" style="margin-top: 20px">
				<div class="panel-body">
					<h2 style="text-align: center;"><span id="current-user-name"></span><br>
						<small>目前已選 <span id="chosenCount">0</span> 位</small>
					</h2>
					<div id="current-user-id" hidden></div>
					<div class="table-responsive" id="esms">
						<table class="table">
							<thead>
								<th>Name</th>
								<th>App</th>
								<th>Counts</th>
								<th>Add Contact</th>
							</thead>
							<tbody class="list">
								<tr class="trtr">
									<td class="esmSender"></td>
									<td class="esmApp"></td>
									<td class="esmCount"></td>
									<td class="esmTdBtn"><button class="add-contact-btn btn btn-primary">Add</button></td>
									<td class="esmHide" hidden>a</td>
								</tr>
							</tbody>
						</table>
					</div>
					<button id="addContactsBtn" class="btn btn-success btn-block">Submit</button>
					<form id="addContactsForm" action="esm/addNewContacts" method="POST">
						<input id="addContactsData" type="hidden" name="contacts">
						<input id="userIdInput" type="hidden" name="userID">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	var contactListOptions = { valueNames: [ 'name', 'id' ] };
	var contactList = new List('users', contactListOptions);
	
	var esmListOptions = { valueNames: [ 'esmSender', 'esmApp', 'esmCount', 'esmHide' ] };
	var esmList = new List('esms', esmListOptions);
	
	var addContactBtn = $(".add-contact-btn");
	var searchEsmBtn = $(".search-esm-btn");
	var submitBtn = $("#addContactsBtn");
	
	var addContactsList = [];
	var chosenCount = 0;
	refreshCallbacks();
	
	function refreshCallbacks(){
		addContactBtn = $(".add-contact-btn");
		addContactBtn.click(function(){
			$(this).removeClass("btn-primary");
			$(this).addClass("btn-success disabled");
			$(this).text("chosen");
			
			var name = $(this).closest('tr').find('.esmSender').text();
			var app  = $(this).closest('tr').find('.esmApp').text();
			addContactsList.push({'name': name, 'app': app});
			
			chosenCount += 1;
			$("#chosenCount").text(chosenCount);
		});
	};
	
	searchEsmBtn.click(function(){
		window.scrollTo(0, 0);
		searchEsmBtn.addClass("disabled");
		var currentUserName = $(this).closest('tr').find('.name').text();
		var currentUserID = $(this).closest('tr').find('.id').text();
		$("#current-user-name").text(currentUserName);
		$("#current-user-id").text(currentUserID);
		
		esmList.remove('esmHide', 'a');
		$.get("esm/get?uid=" + $(this).attr('id'), function(result, status){
			for (var key in result['esm']){
				esmList.add({
					esmSender: result['esm'][key]['name'],
					esmApp: (result['esm'][key]['app'] == 'fb')? 'facebook' : (result['esm'][key]['app'] == 'line')? 'line' : 'unknown',
					esmCount: result['esm'][key]['count'],
					esmHide: 'a'
				});
			}
			checkExistContact(result['facebook'], result['line']);
			refreshCallbacks();
		});
	});
	
	function checkExistContact(facebookList, lineList){
		console.log("facebook contacts:", facebookList);
		console.log("line contacts:", lineList);
		$(".trtr").each(function(index){
			var eachName = $(this).find(".esmSender").text();
			var eachApp = $(this).find(".esmApp").text();
			for (var key in facebookList){
				if (eachApp == "facebook" && eachName == facebookList[key]){
					console.log("match facebook:", eachName);
					$(this).addClass("warning");
					$(this).find(".esmTdBtn").find("button").addClass("disabled");
				}
			}
			for (var key in lineList){
				if (eachApp == "line" && eachName == lineList[key]){
					console.log("match line:", eachName);
					$(this).addClass("warning");
					$(this).find(".esmTdBtn").find("button").addClass("disabled");
				}
			}
		});
	}
	
	submitBtn.click(function(){
		$("#addContactsData").val(JSON.stringify(addContactsList));
		$("#userIdInput").val($("#current-user-id").text());
		$("#addContactsForm").submit();
		
	});

</script>
{% endblock %}