{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
{# NAV BAR #}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">IM MSG</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="{{ url_for('logout') }}">Log Out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		{# SIDE BAR #}
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="{{ url_for('facebook') }}">Facebook Login</a></li>
				{# <li class="active"><a href="{{ url_for('facebook') }}">Facebook Login <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Analytics</a></li>
				<li><a href="#">Export</a></li> #}
			</ul>
		</div>
		
		{# MAIN AREA #}
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Welcome, {{ name }}</h1>
			<h2 class="sub-header">Contact List</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>User ID</th>
							<th>Completed</th>
						</tr>
					</thead>
					<tbody>
						{% for contact in contacts %}
						<tr>
							<td>{{ contact.id }}</td>
							<td><a href="/questionnaire/{{contact.user_id}}/{{contact.id}}">{{ contact.name }}</a></td>
							<td>{{ contact.user_id }}</td>
							<td>{{ contact.completed }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div> 
		</div>
	</div>
</div>
{% endblock %}