{% from "macros.html" import nav_bar with context %}
{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
{% endblock %}

{% block title %}
Add Contacts
{% endblock %}

{% block styles %}
{{ super() }}
<style>
	input:focus {
	    outline: none;
	}
</style>
{% endblock %}

{% block content %}
{{ nav_bar() }}

<div class="container">
	<div class="row" style="margin-top: 20px">
		<h1>{{ uid }} {{ user.username }}的聯絡人<br><small> </small></h1>
	</div>
	
	<div class="row">
		<div class="panel panel-default" style="margin-top: 20px">
			<div class="panel-heading"><b>新增聯絡人</b></div>
			<div class="panel-body">
				<form method="POST" action="{{url_for('contact.addContact', uid=uid)}}">
					<div class="col-xs-4">
						<input type="text" class="form-control" name="facebook" placeholder="Facebook Name">
					</div>
					<div class="col-xs-4">
						<input type="text" class="form-control" name="line" placeholder="Line Name">
					</div>
					<div class="col-xs-4">
						<button id="add-btn" class="btn btn-success">新增</button>
					</div>
				</form>
			</div>
				
		</div>
	</div>
	
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3><div class="selected"></div></h3>
				<div id="contacts">	
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>contact id</th>
									<th>Facebook</th>
									<th>Line</th>
									<th>Done</th>
								</tr>
							</thead>
							<tbody class="list" id="result">
								{% for contact in contact_list %}
								<tr>
									<td>{{loop.index}}</td>
									<td>{{ contact.id }}</td>
									<td>{{contact.contact_name}}</td>
									<td>{{contact.contact_name_line}}</td>
									<td>{{contact.completed}}</td>
									<td>
										<form method="POST" action="{{url_for('contact.remove_contact', qid=contact.id)}}">
											<button class="remove-btn btn btn-danger btn-sm">刪除</button>
										</form>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<form action="{{url_for('user.dashboard')}}">
			<button id="submit-btn" class="btn btn-primary btn-block">完成</button>
		</form>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- <script>
	var options = { valueNames: ['id', 'facebookName', 'lineName'] };
	var total = 0;
	var contactList = new List('contacts', options);
	var facebookNameField  = $('#name-field-facebook'),
		lineNameField = $('#name-field-line'),
		addBtn     = $('#add-btn'), 
		submitBtn  = $('#submit-btn');
	var resultList = [];
	
	function clearFields() {
		facebookNameField.val('');
		lineNameField.val('');
	}
	
	addBtn.click(function() {
		if (!facebookNameField.val() && !lineNameField.val())
			return
		contactList.add({
			id: total,
			facebookName: facebookNameField.val(),
			lineName: lineNameField.val(),
		});
		total += 1;
		
		// remove init item
		var initItem = $("#initItem");
		var id = initItem.find(".id").text();
		if (id) 
			contactList.remove("id", id);
		
		clearFields();
		$("tr").show();
		registerRemoveBtn();
	})
	
	submitBtn.click(function() {
		var list = $("#result").find("tr");
		list.each(function(i, obj) {
			var facebookName = obj.cells[0].innerText;
			var lineName = obj.cells[1].innerText;

			newContactName = {
				facebook: facebookName,
				line:     lineName
			};
			resultList.push(newContactName);
		});
		var input = document.createElement("input");
		input.name = "contacts";
		input.type = "hidden";
		input.value = JSON.stringify(resultList);
		$("#addForm").append(input);
		
		document.getElementById("addForm").submit();
	})
	
	function registerRemoveBtn(){
		var removeBtns = $('.remove-btn');
		removeBtns.click(function() {
			var itemId = $(this).closest('tr').find('.id').text();
			contactList.remove('id', itemId);
		});
	}
</script> -->
{% endblock %}