{% extends "layout.html" %}

{% block title %}
Contact List
{% endblock %}

{% block content %}
{# NAV BAR #}
{{ super() }}

{# MAIN AREA #}
<div class="container-fluid">
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h2 class="sub-header">Hi, {{ name }}. please choose _ contacts</h2>
		<div class="table-responsive">
			<form action="{{ url_for('confirmContacts') }}" method="POST">
				<table class="table table-striped">
					<thead>
						<th>SELECT</th>
						<th>Name</th>
						<th>Type</th>
						<th>Message count</th>
						<th>File count</th>
						<th>Image count</th>
						<th>First talk</th>
						<th>Last talk</th>
						<th>Last talk</th>
					</thead>
					<tbody>
						{% for contact in contacts %}
						<tr>
							<td>
								<input 
								type="checkbox" 
								name="select" 
								value="{{ contact.name }}" 
								{% if loop.index0 < 5 %}checked{% endif %} >
								<input type="hidden" name="{{ contact.name }}_is_group" value="{{ contact.is_group }}">
							</td>
							<td>{{ contact.name }}</td>
							<td>{{ "group" if contact.is_group else "single" }}</td>
							<td>{{ contact.msg_count }}</td>
							<td>{{ contact.file_count }}</td>
							<td>{{ contact.image_count }}</td>
							<td>{{ contact.first_talk }}</td>
							<td>{{ contact.last_talk }}</td>
							<td>{{ contact.last_msg }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<input type="submit" name="Submit">
			</form>
		</div>
	</div>
</div>
{% endblock %}