{% from "macros.html" import nav_bar with context %}
{% extends "layout.html" %}
{% set contact_name = questionnaire.contact_name %}

{% block title %}
    Questionnaire
{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">
{% endblock %}

{% block content %}
{{ nav_bar() }}

    <div class="container-fluid">
        <div class="main">
            <form action= "{{url_for('questionnaire.contact_questionnaire', questionnaire_id=questionnaire.id)}}" method="post">
                <h1>聯絡人關係問卷： {{ contact_name }}</h1>
                以下問題會針對題目中顯示之聯絡人回答
                
                {% set ns = namespace(index=0) %}
                {% for question in question_list %}
                    {% if question["type"] == "message" %}
                        <h2>{{ question["message"] }}</h2>
                    
                    {% else %}
                        {% set ns.index = ns.index + 1 %}
                        <h4>{{ ns.index ~ ". " ~ question["question"] | replace("%%", contact_name) }}</h4>
                        {% if question["type"] == "slider" %}
                            <input type="test" name="{{ question['question'] }}"
                                data-provide="slider"
                                {% if question["scale"] == "5" %}
                                    data-slider-ticks="[1, 2, 3, 4, 5]" 
                                    data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                                    data-slider-max="5"
                                {% elif question["scale"] == "7" %}
                                    data-slider-ticks="[1, 2, 3, 4, 5, 6, 7]" 
                                    data-slider-ticks-labels='["1", "2", "3", "4", "5", "6", "7"]'
                                    data-slider-max="7"
                                {% endif %}
                                data-slider-min="1"
                                data-slider-step="1"
                                data-slider-value="{{ last_result[question['question']] if last_result else 1 }}"
                                data-slider-tooltip="hide"
                            />
                        {% elif question["type"] == "radio" %}
                            {% for option in question["options"] %}
                                <div class="radio">
                                    <label><input type="radio" name="{{ question['question'] }}" value="{{ option }}" {{ "checked" if last_result[question['question']] == option }} >{{ option }}</label>
                                </div>
                            {% endfor %}
                        {% elif question["type"] == "image" %}
                            <img src="{{ question['src'] }}">
                            <input name="{{ question['question'] }}" type="text"
                                data-provide="slider"
                                data-slider-ticks="[1, 2, 3, 4, 5,6,7]"
                                data-slider-ticks-labels='["1", "2", "3", "4", "5","6","7"]'
                                data-slider-min="1"
                                data-slider-max="7"
                                data-slider-step="1"
                                data-slider-value="{{ last_result[question['question']] if last_result else 1 }}"
                                data-slider-tooltip="hide" />
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
{% endblock %}