{% from "macros.html" import nav_bar with context %}
{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
{{ nav_bar() }}

<div class="container-fluid">
	<div class="row">

		{# SIDE BAR #}
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="{{ url_for('questionnaire.user_questionnaire') }}">{{'About You (Edit)' if userQ_done else 'About You'}}</a></li>
				<li><a href="{{ url_for('heatmap.show_heatmap') }}">Heatmap Location Label</a></li>
				{% if current_user.username == "admin" %}
				<li><a href="{{ url_for('user.signup') }}">Sign Up</a></li>
				{% endif %}
			</ul>
		</div>

		{# MAIN AREA #}
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Welcome, {{ current_user.username }}</h1>
			<h2 class="sub-header">Contact List</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Questionnaire</th>
							<th>Facebook Name</th>
							<th>Line Name</th>
							<th>Completed</th>
							<th class="editName" hidden>App</th>
							<th class="editName" hidden>New Name</th>
						</tr>
					</thead>
					<tbody>
						{% for questionnaire in questionnaires %}
						<tr>
							<td>
								<button onclick="location.href='{{ url_for('questionnaire.contact_questionnaire', questionnaire_id=questionnaire.id) }}';">Enter</button>
							</td>
							<td>{{ questionnaire.contact_name }}</a></td>
							<td>{{ questionnaire.contact_name_line }}</td>
							<td>{{ questionnaire.completed }}</td>
							<form action="{{ url_for('contact.editName', questionnaire_id=questionnaire.id) }}" method="POST">
								<td class="editName" hidden>
									<select name="appNewName">
										<option value="facebook">facebook</option>
										<option value="line">line</option>
									</select>
								</td>
								<td class="editName" hidden>
									<input type="text" name="name" />
								</td>
								<td class="editName" hidden>
									<input type="submit" name="Edit">
								</td>
							</form>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<button id="showEditBtn" type="button">Edit Name</button>
				<button id="cancel" type="button" hidden>Cancel</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
	$("#showEditBtn").click(function() {
		$(".editName").show();
		$("#showEditBtn").hide();
		$("#cancel").show();
	})
	
	$("#cancel").click(function() {
		$(".editName").hide();
		$("#showEditBtn").show();
		$("#cancel").hide();
	})
</script>
{% endblock %}