{% extends "bootstrap/base.html" %}
{% from "macros.html" import nav_bar with context %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('user.index') }}">Who Matters</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="{{ url_for('questionnaire.user_questionnaire') }}">{{'Self Questionnaire (Edit)' if userQ_done else 'Self Questionnaire'}}</a></li>
				<li><a href="{{ url_for('heatmap.show_heatmap') }}">Location Heatmap</a></li>
			</ul>
			{% if current_user.username %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ url_for('user.dashboard') }}">{{ current_user.username }}</a></li>
				<li><a href="{{ url_for('user.logout') }}">Log Out</a></li>
			</ul>
			{% endif %}
		</div>
	</div>
</nav>

<div class="container">
	<div class="main">
		<h1 class="page-header">嗨！{{ current_user.username }}</h1>
		<h2 class="sub-header">聯絡人清單</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>問卷</th>
						<th>Facebook 名稱</th>
						<th>Line 名稱</th>
						<th class="editName" hidden>App</th>
						<th class="editName" hidden>New Name</th>
					</tr>
				</thead>
				<tbody>
					{% for questionnaire in questionnaires %}
					<tr>
						<td>
							{% if questionnaire.completed %}
							<button class="btn btn-default disabled">完成</button>
							{% else %}
							<button class="btn btn-default" onclick="location.href='{{ url_for('questionnaire.contact_questionnaire', questionnaire_id=questionnaire.id) }}';">填寫</button>
							{% endif %}
						</td>
						<td>{{ questionnaire.contact_name }}</td>
						<td>{{ questionnaire.contact_name_line or '' }}</td>
						<form action="{{ url_for('contact.editName', questionnaire_id=questionnaire.id) }}" method="POST">
							<td class="editName" hidden>
								<select name="appNewName">
									<option value="facebook">facebook</option>
									<option value="line">line</option>
								</select>
							</td>
							<td class="editName" hidden>
								<input type="text" name="name" />
							</td>
							<td class="editName" hidden>
								<input type="submit" name="Edit" class="btn btn-success btn-sm">
							</td>
						</form>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<button id="editBtn" type="button" class="btn btn-primary btn-block">Edit Name</button>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
	var editBtnMode = false;
	$("#editBtn").click(function() {
		if (editBtnMode) {
			$(".editName").hide();
			this.innerHTML = "Edit Name";
		}
		else{
			$(".editName").show();
			this.innerHTML = "Finish";
		}
		editBtnMode = !editBtnMode;
	})
</script>
{% endblock %}