{% from "macros.html" import nav_bar with context %}
{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
{{ nav_bar() }}

<div class="container-fluid">
	<div class="row">

		{# SIDE BAR #}
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="{{ url_for('questionnaire.user_questionnaire') }}">{{'About You(Edit)' if userQ_done else 'About You'}}</a></li>
				<li><a href="{{ url_for('heatmap.show_heatmap') }}">Heatmap Location Label</a></li>
				{% if current_user.username == "admin" %}
				<li><a href="{{ url_for('user.signup') }}">Sign Up</a></li>
				{% endif %}
			</ul>
		</div>

		{# MAIN AREA #}
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Welcome, {{ current_user.username }}</h1>
			<h2 class="sub-header">Contact List</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Facebook Name</th>
							<th>Line Name</th>
							<th>Completed</th>
							<th>App of New Name</th>
							<th>New Name</th>
						</tr>
					</thead>
					<tbody>
						{% for questionnaire in questionnaires %}
						<tr>
							<td><a href="/questionnaire/{{questionnaire.user_id}}/{{questionnaire.id}}">{{ questionnaire.contact_name }}</a></td>
							<td>{{ questionnaire.contact_name_line }}</td>
							<td>{{ questionnaire.completed }}</td>
							<form action="/facebook/editName/{{questionnaire.user_id}}/{{questionnaire.id}}" method="POST">
								<td>
									<select name="appNewName">
										<option value="facebook">facebook</option>
										<option value="line">line</option>
									</select>
								</td>
								<td>
									<input type="text" name="name" />
								</td>
								<td>
									<input type="submit" name="Edit">
								</td>
							</form>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
