{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Forgot Password
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">
	{% if invalid %}
	<div class="alert alert-danger" style="text-align: center;">
		<strong>Email不存在，如果有任何問題請洽研究人員</strong>
	</div>
	{% endif %}

	<form class="form-signin" method="POST" action={{ url_for('user.forgot_password') }}>
		<h2 class="form-signin-heading">Forgot Password</h2>
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.email) }}
		{{ wtf.form_field(form.password) }}
		{{ wtf.form_field(form.confirm) }}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	</form>
	

</div>
{% endblock %}