{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://rawgit.com/Leaflet/Leaflet.heat/gh-pages/dist/leaflet-heat.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% endblock %}

{% block styles %}
{# {{ super() }} #}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
{% endblock %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <div id="mapid" style="width: 100%; height: 1000px; position: relative; outline: none;"></div>
        </div>
        <div class="col-3">
            <form id="gps_form">
                <div class="form-group row">
                    <label for="place" class="col-sm-2 col-form-label">地點</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="label" id="label" placeholder="這邊是(ex.家,公司,學校)">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lat" class="col-sm-2 col-form-label">Lat</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lat" id="lat">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lng" class="col-sm-2 col-form-label">Lng</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lng" id="lng">
                    </div>
                </div>
                <div class="btn btn-primary" onclick="sendGpsLabel()">Create New Label</div>
            </form>
            <br/><br/>

            <form id="delete_form">
                <div class="form-group row" style="display:none;">
                    <label for="d_markerId" class="col-sm-2 col-form-label">Marker</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="markerId" id="d_markerId">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="d_place">地點</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="label" id="d_label">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="d_lat" class="col-sm-2 col-form-label">lat</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lat" id="d_lat">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="d_lng" class="col-sm-2 col-form-label">lng</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lng" id="d_lng">
                    </div>
                </div>
                <div class="btn btn-danger" onclick="deleteGpsLabel()">Delete This Label</div>
            </form>
            <br/><br/>
            <a href="/dashboard">Back To Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var markList = [];
    var loc_data = [];
    var testData = {};
    var data = [];

    send();
    function send() {
        $.ajax({
            url: '/getLocations',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                for(var i =0;i<data.marks.length;i++){
                    var this_loc = L.latLng(data.marks[i][1],data.marks[i][0]);
                    heat.addLatLng(this_loc);
                    console.log(this_loc);
                }
            },
        });
    }

    var mymap = L.map('mapid').setView([24.7872632,120.9973644], 13);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'mapbox.streets'
    }).addTo(mymap);

    var heat = L.heatLayer(data, {
                //scaleRadius: true,
                //useLocalExtrema: true,
                //radius: 20,
                //maxOpacity: .8,
                blur: 0
            }).addTo(mymap);
    var popup = L.popup();

    function onMapClick(e) {
            $("#lat").val(e.latlng.lat)
            $("#lng").val(e.latlng.lng)
        popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(mymap);
    }
    var markers = L.layerGroup();

    function sendGpsLabel(){
        $.ajax({
            url: '/createGpsLabel',
            type: 'post',
            data: $("#gps_form").serialize(),
            success: function (data) {
                getGpsLabel()
            },
        });
    }

    function deleteGpsLabel(){
        $.ajax({
            url: '/deleteGpsLabel',
            type: 'post',
            data: $("#delete_form").serialize(),
            success: function (data) {
                getGpsLabel()
            },
        });
    }

    function getGpsLabel(){
        $.ajax({
            url: '/listGpsLabel',
            type: 'get',
            success: function (data) {
                markers.clearLayers()
                console.log(data)
                for(var i=0; i<data.length; i++){
                    var m = L.marker([data[i]['lat'],data[i]['lng']]).bindTooltip(data[i]['label'],{direction: 'top',sticky: 'false'})
                    m.raw = data[i];
                    m.on('click', function(e){
                        var data = e.target.raw;
                        $("#d_markerId").val(data['markerId'])
                        $("#d_label").val(data['label'])
                        $("#d_lat").val(data['lat'])
                        $("#d_lng").val(data['lng'])
                    })
                    markers.addLayer(m);
                }
                mymap.addLayer(markers);
            },
        });
    }
    getGpsLabel()


    mymap.on('click', onMapClick);

</script>

{% endblock %}
