<!DOCTYPE html>
<html>

<head>
	<title>ESM</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="ui stackable menu">
		<div class="item">
			Whos Matter
		</div>
	</div>
	<div class="ui container">
		<div class="ui card">
			<div class="content">
				<div class="header">
					({{data.app}}) {{ data.title }}
				</div>
				<div class="meta" id="date">

				</div>

				<div class="description">
					{{ data.text }}
				</div>
			</div>
		</div>
		<div class="ui form" style="margin-bottom: 30px;" id="myform">
			<input type="hidden" name="app" value="{{ data.app }}">
			<input type="hidden" name="time" value="{{ data.created_at }}">
			<input type="hidden" name="title" value="{{ data.title }}">
			<input type="hidden" name="content" value="{{ data.text }}">
			<input type="hidden" name="hash" value="{{ data.hash }}">
			<input type="hidden" name="wid" value="{{ data.wid }}">
			<input type="hidden" name="user" value="{{ data.user }}">
			
			{% for question in question_list %}
				{% if question["hide"] %}
					<div class="{{ question['hide'] }}">
				{% endif %}
				
				<h3>{{ question["question"] ~ question["description"] }}</h3>
				
				{% if question["type"] == "radio" or question["type"] == "image" %}
					<div class="grouped fields">
						{% for option in question["options"] %}
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="{{ question['question'] }}" value="{{ option }}" tabindex="0" class="hidden">
									{% if question["type"] == "radio" %}
										<label>{{ option }}</label>
									{% elif question["type"] == "image" %}
										<label>{{ loop.index }}</label>
										<img src="{{ option }}" width="35%">
									{% endif %}
								</div>
							</div>
						{% endfor %}
						{% if question["others"] %}
							<div class="field">
								<label>其他</label>
								<input type="text" name="{{ question['question'] }}" tabindex="0" class="hidden">
							</div>
						{% endif %}
					</div>
				
				{% elif question["type"] == "checkbox" %}
					<div class="grouped fields">
						{% for option in question["options"] %}
							<div class="field">
								<div class="ui checkbox">
									<input type="checkbox" name="{{ question['question'] }}" value="{{ option }}" tabindex="0" class="hidden">
									<label>{{ option }}</label>
								</div>
							</div>
						{% endfor %}
						{% if question["others"] %}
							<div class="field">
								<label>其他</label>
								<input type="text" name="{{ question['question'] }}" tabindex="0" class="hidden">
							</div>
						{% endif %}
					</div>
				
				{% elif question["type"] == "text" %}
					<input type="text" name="{{ question['question'] }}" tabindex="0" class="hidden">
				
				{% elif question["type"] == "group" %}
					<div class="grouped fields">
						{% for sub_question in question["questions"] %}
							<label>{{ loop.index ~ ". " ~ sub_question["question"] }}</label>
							{% for option in sub_question['options'] %}
								<div class="field">
									<div class="ui radio checkbox">
										<input type="radio" name="{{ sub_question['question'] }}" value="{{ option }}" tabindex="0" class="hidden">
										<label>{{ option }}</label>
									</div>
								</div>
							{% endfor %}
						{% endfor %}
					</div>
				
				{% endif %}
			
			{% if question["hide"] %}</div>{% endif %}
			{% endfor %}
			
			<div class="ui positive message" style="display: none" id="info_success">
				<p>
					成功送出
				</p>
			</div>
			<div class="ui negative message" style="display: none" id="info_fail">
				<p>
					失敗！請確認你的網路是否正常，如果問題持續發生，請聯絡我們！
				</p>
			</div>
			<div id="submit-btn" class="ui blue big fluid button">送出</div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>

	<script>
		function getParameterByName(name, url) {
			if (!url) url = window.location.href;
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
			if (!results) return null;
			if (!results[2]) return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		}
		$('.ui.radio.checkbox')
			.checkbox();
		$('.ui.checkbox')
			.checkbox();

		$("#submit-btn").click(function() {
			var o = {};

			var a = $("#myform input").serializeArray();
			$.each(a, function() {
				if (o[this.name]) {
					if (!o[this.name].push) {
						o[this.name] = [o[this.name]];
					}
					o[this.name].push(this.value || '');
				} else {
					o[this.name] = this.value || '';
				}
			});
			console.log(JSON.stringify(o));
			$.ajax({
				type: "POST",
				url: "/form/",
				data: JSON.stringify(o),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function() {
					$("#info_success").show();
					$("#info_fail").hide();
					$("#submit-btn").hide();
				},
				error: function() {
					$("#info_success").hide();
					$("#info_fail").show();
				}
			});
		})


		$("input[name='你有沒有在手機上感受到通知？']").change(function() {
			if ($("input[name='你有沒有在手機上感受到通知？'][value='沒有']").is(":checked")) {
				$(".hide-1").hide();
				$(".hide-15").hide();
				$(".hide-2").hide();
				$(".hide-3").hide();
			} else {
				$(".hide-1").show();
				$(".hide-15").show();
				$(".hide-2").show();
				$(".hide-3").show();
			}
		});

		$("input[name='你如何感知到這則通知？']").change(function() {
			if ($("input[name='你如何感知到這則通知？'][value='我當時正在使用手機']").is(":checked")) {
				$(".hide-15").hide();
				$(".hide-2").hide();
			} else {
				$(".hide-15").show();
				$(".hide-2").show();
			}
		});
		$("input[name='在感受到通知的當下，你有沒有猜是誰傳的訊息？']").change(function() {
			if ($("input[name='在感受到通知的當下，你有沒有猜是誰傳的訊息？'][value='沒有']").is(":checked")) {
				$(".hide-2").hide();
			} else {
				$(".hide-2").show();
			}
		});

		//$("input[name='你有沒有立即去看這則通知？']").change(function() {
        //
		//	if ($("#radio_instant_see").is(":checked")) {
		//		$(".hide-4").show();
		//	} else {
		//		$(".hide-4").hide();
		//	}
		//});





		$("#date").text(new Date({{data.created_at}}).toLocaleString());
	</script>


</body>

</html>
