{% extends "bootstrap/base.html" %}
{% from "macros.html" import nav_bar with context %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}

{% block title %}
ESM Report
{% endblock %}

{% block styles %}
{{super()}}
{# <link rel="stylesheet" href="{{url_for('static', filename='starter-template.css')}}"> #}
<style>
    .table th, td {
        text-align: center;   
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="main">
        <h1 class="page-header">ESM 統計報告<br><small>Device {{ device_id }}</small></h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>總共完成</th>
                        <th>一周完成</th>
                        <th>今日完成</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ result['total'] }}</td>
                        <td>{{ result['7_days'] }}</td>
                        <td>{{ result['today'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {# <hr>
        <h5>Today's ESM Count</h5>
        <div class="progress">
            <div class="progress-bar {{ 'progress-bar-success' if result['today'] >= 10 }}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ '100' if result['today'] >= 10 else result['today']|int * 10  }}%">
                {{ result['today'] }}/10
                <span class="sr-only">70% Complete</span>
            </div>
        </div> #}
        <hr>
        <canvas id="week"></canvas>
        <hr>
        <canvas id="appType"></canvas>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var weekContext = document.getElementById('week').getContext('2d');
    var chart = new Chart(weekContext, {
        type: 'bar',
        data: {
            labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
            datasets: [{
                label: "count",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [8, 10, 5, 2, 13, 5, 5],
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Weekly Count'
            }
        }
    });
    
    var appTypeContext = document.getElementById('appType').getContext('2d');
    var chart2 = new Chart(appTypeContext, {
        type: 'pie',
        data: {
            labels: ["Facebook", "Line"],
            datasets: [{
                label: "Types of App",
                backgroundColor: ['rgb(255, 99, 132)', 'rgb(0, 180, 175)'],
                data: [13, 58],
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Types of App received messages'
            }
        }
    });
</script>
{% endblock %}