{% extends "bootstrap/base.html" %}

{% block title %}
User Questionnaire
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">
{% endblock %}

{% block content %}

<html lang="en">
  <body>

    <div class="container" style="margin-bottom: 100px;">

      <form action="{{ url_for('questionnaire.user_questionnaire') }}" method="post">

        <h1>About You</h1>

        <h3>這裡有一些特徵可能適合用來描述你,請在「我認為我是一個...」之後針對每一題勾選您同意的程度。 (以 1~5 回答，1:非常不精確 2:有些不精確 3:普通 4:有些精確 5:非常精確)</h3>

        <h3>健談的人</h3>
          <input name="健談的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['健談的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>會創新、有新想法的人</h3>
          <input name="會創新、有新想法的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['會創新、有新想法的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>樂於助人且無私的人</h3>
          <input name="健談的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['樂於助人且無私的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>充滿活力的人</h3>
          <input name="充滿活力的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['充滿活力的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>可信賴的工作者</h3>
          <input name="可信賴的工作者" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['可信賴的工作者'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>緊張的人</h3>
          <input name="緊張的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['緊張的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>有非常多熱情的人</h3>
          <input name="有非常多熱情的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['有非常多熱情的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>有寬容本質的人</h3>
          <input name="有寬容本質的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['有寬容本質的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>擔心很多的人</h3>
          <input name="擔心很多的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['擔心很多的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>具有生動想像力的人</h3>
          <input name="具有生動想像力的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['具有生動想像力的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>有創造力的人</h3>
          <input name="有創造力的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['有創造力的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>會堅持到工作完成的人</h3>
          <input name="會堅持到工作完成的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['會堅持到工作完成的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>幾乎對所有人體貼且仁慈的人</h3>
          <input name="幾乎對所有人體貼且仁慈的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['幾乎對所有人體貼且仁慈的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>做事有效率的人</h3>
          <input name="做事有效率的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['做事有效率的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>喜歡外出、好社交的人</h3>
          <input name="喜歡外出、好社交的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['喜歡外出、好社交的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>會訂計畫並依計畫執行的人</h3>
          <input name="會訂計畫並依計畫執行的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['會訂計畫並依計畫執行的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>容易感到緊張的人</h3>
          <input name="容易感到緊張的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['容易感到緊張的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>喜歡思考、常有想法的人</h3>
          <input name="喜歡思考、常有想法的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['喜歡思考、常有想法的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>喜歡與他人合作的人</h3>
          <input name="喜歡與他人合作的人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['喜歡與他人合作的人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />


        <h3>以下每個題目皆是4-point scales (1 = 從來沒有這種感覺, 2 = 很少有這種感覺, 3 = 有時候有這種感覺 4 = 經常有這種感覺)</h3>

        <h3>您覺得您與週遭的人關係和睦嗎?</h3>
          <input name="您覺得您與週遭的人關係和睦嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您與週遭的人關係和睦嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得您缺少友伴嗎?</h3>
          <input name="您覺得您缺少友伴嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您缺少友伴嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得您沒有一個人讓您求助依賴嗎?</h3>
          <input name="您覺得您沒有一個人讓您求助依賴嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您沒有一個人讓您求助依賴嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>您覺得您孤單嗎?</h3>
          <input name="您覺得您孤單嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您孤單嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得您是屬於朋友中的一份子嗎?</h3>
          <input name="您覺得您是屬於朋友中的一份子嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您是屬於朋友中的一份子嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>您覺得您與週遭的人有許多相同的地方之處嗎?</h3>
          <input name="您覺得您與週遭的人有許多相同的地方之處嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您與週遭的人有許多相同的地方之處嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得您不再與任何人親近嗎?</h3>
          <input name="您覺得您不再與任何人親近嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您不再與任何人親近嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得您週圍的人無法和您共享您的興趣和想法嗎?</h3>
          <input name="您覺得您週圍的人無法和您共享您的興趣和想法嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您週圍的人無法和您共享您的興趣和想法嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>您覺得您是個外向和友善的人嗎?</h3>
          <input name="您覺得您是個外向和友善的人嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您是個外向和友善的人嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得您和人們親密嗎?</h3>
          <input name="您覺得您和人們親密嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您和人們親密嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>您覺得您不被重視嗎?</h3>
          <input name="您覺得您不被重視嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您不被重視嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得您與其他人的關係是毫無意義的嗎?</h3>
          <input name="您覺得您與其他人的關係是毫無意義的嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您與其他人的關係是毫無意義的嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得沒有人真正認識您嗎?</h3>
          <input name="您覺得沒有人真正認識您嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得沒有人真正認識您嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>您覺得您處於人群中仍覺得孤立嗎?</h3>
          <input name="您覺得您處於人群中仍覺得孤立嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您處於人群中仍覺得孤立嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得當您需要時您可以找到友伴嗎?</h3>
          <input name="您覺得當您需要時您可以找到友伴嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得當您需要時您可以找到友伴嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>您覺得您有人真正了解您嗎?</h3>
          <input name="您覺得您有人真正了解您嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您有人真正了解您嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得您害羞嗎?</h3>
          <input name="您覺得您害羞嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您害羞嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得您的身邊有一些人,但他們不是您的知己嗎?</h3>
          <input name="您覺得您的身邊有一些人,但他們不是您的知己嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您的身邊有一些人,但他們不是您的知己嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>您覺得您有人可以聽您傾訴嗎?</h3>
          <input name="您覺得您有人可以聽您傾訴嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您有人可以聽您傾訴嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />
        <h3>您覺得您有人可以讓您求助依賴嗎?</h3>
          <input name="您覺得您有人可以讓您求助依賴嗎?" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4]"
                data-slider-ticks-labels='["1", "2", "3", "4"]'
                data-slider-min="1"
                data-slider-max="4"
                data-slider-step="1"
                data-slider-value="{{ userQ['您覺得您有人可以讓您求助依賴嗎?'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>以下每個題目皆是5-point scales (1 = 非常不認同, 5 = 非常認同)</h3>

        <h3>若其他人不接受我，我不會因此受到影響</h3>
          <input name="若其他人不接受我，我不會因此受到影響" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['若其他人不接受我，我不會因此受到影響'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>我盡力不去做會讓他人避開，或拒絕我的事情</h3>
          <input name="我盡力不去做會讓他人避開，或拒絕我的事情" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['我盡力不去做會讓他人避開，或拒絕我的事情'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>我鮮少去擔心他人是否會在意我</h3>
          <input name="我鮮少去擔心他人是否會在意我" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['我鮮少去擔心他人是否會在意我'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>我需要那種處於困境中總有人可以幫助我的感覺</h3>
          <input name="我需要那種處於困境中總有人可以幫助我的感覺" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['我需要那種處於困境中總有人可以幫助我的感覺'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>我想要他人接受我</h3>
          <input name="我想要他人接受我" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['我想要他人接受我'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>我不喜歡獨自一人</h3>
          <input name="我不喜歡獨自一人" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['我不喜歡獨自一人'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>與朋友長時間分離並不會困擾我</h3>
          <input name="與朋友長時間分離並不會困擾我" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['與朋友長時間分離並不會困擾我'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>我有很強烈歸屬感需求</h3>
          <input name="我有很強烈歸屬感需求" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['我有很強烈歸屬感需求'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>當他人的規劃中不包括我時，我會很不舒服</h3>
          <input name="當他人的規劃中不包括我時，我會很不舒服" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['當他人的規劃中不包括我時，我會很不舒服'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

        <h3>當我覺得他人不接受我時，我很容易有受傷的感覺</h3>
          <input name="當我覺得他人不接受我時，我很容易有受傷的感覺" type="text"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3, 4, 5]"
                data-slider-ticks-labels='["1", "2", "3", "4", "5"]'
                data-slider-min="1"
                data-slider-max="5"
                data-slider-step="1"
                data-slider-value="{{ userQ['當我覺得他人不接受我時，我很容易有受傷的感覺'] if userQ else 1 }}"
                data-slider-tooltip="hide" />

      <div class="row" style="margin-top: 30px">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
      </div>

      </form>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js">

{% endblock %}
